/*----------------------------------------------------------------*/
.rating-yellow {
  color: #fdd835;
}

/*Mapbox Click Marker*/
/*----------------------------------------------*/
.pin1 .mapboxgl-popup-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pin1 .mapboxgl-popup-content i {
  font-size: 3rem !important;
  color: #000;
}

.pin1 .mapboxgl-popup-tip {
  display: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto';
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  position: relative;
}

.et-panel, #maps-filters-date, #maps-filters-layer, #maps-layers {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 20%;
}

/*-----------------------------------------------------------------------------*/
/* FILTERS PANEL */
#maps-filters-date, #maps-filters-layer {
  right: 0;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px #aaa;
          box-shadow: 0 0 5px #aaa;
  max-height: 95%;
  overflow-y: auto;
}

#maps-filters-date.is-visible, #maps-filters-layer.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

#maps-filters-date.is-visible .et-panel-filter-list, #maps-filters-layer.is-visible .et-panel-filter-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

#maps-filters-date [type="checkbox"]:not(:checked), #maps-filters-date [type="checkbox"]:checked,
#maps-filters-date [type="radio"]:not(:checked), #maps-filters-date [type="radio"]:checked, #maps-filters-layer [type="checkbox"]:not(:checked), #maps-filters-layer [type="checkbox"]:checked,
#maps-filters-layer [type="radio"]:not(:checked), #maps-filters-layer [type="radio"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

#maps-filters-date .et-panel-filter-list, #maps-filters-layer .et-panel-filter-list {
  width: 100%;
  background: #fff;
  height: 100%;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item:hover, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item:hover {
  background: #ccc;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item .et-filter-color-box, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item .et-filter-color-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item .et-filter-list-item-name, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item .et-filter-list-item-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item input, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item input {
  margin: 0 5px 0 auto;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item.header, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item.header {
  margin: 0;
  padding: 22px 10px;
  background: #23238e;
  color: #fff;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item.header:hover, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item.header:hover {
  background: #4646d1;
}

/*-----------------------------------------------------------------------------*/
/* MAP */
#map {
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* LAYERS PANEL */
#maps-layers {
  left: 0;
  height: 100%;
}

#maps-layers.hidden {
  left: -20%;
}

.et-panel-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.et-panel-close-button i {
  background: rgba(245, 245, 245, 0.9);
}

.et-panel-layer-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px !important;
}

.et-panel-layer-list .et-panel-layer-list-item {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
  cursor: pointer;
}

.et-panel-layer-list .et-panel-layer-list-item:hover {
  background: #ddd;
}

.et-panel-layer-list .et-panel-layer-list-item:hover .et-panel-layer-list-item-header .et-panel-layer-rating .rating-yellow {
  color: #23238e;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header .et-panel-layer-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  margin: 5px 0;
  font-size: 1.2rem;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header .et-panel-layer-rating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----------------------------------------------------------------------------*/
/* LAYER DETAIL PANEL */
#maps-layer-detail {
  height: 100%;
  z-index: 100;
  padding: 0 10px 10px 10px;
  left: 0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#maps-layer-detail.hidden {
  left: -20%;
}

#maps-layer-detail .et-panel-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

#maps-layer-detail .et-panel-close-button i {
  background: rgba(245, 245, 245, 0.9);
}

#maps-layer-detail .et-panel-layer-detail-title {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 5px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maps-layer-detail .et-panel-layer-detail-rating-input {
  margin: 20px 0;
  background: #eee;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#maps-layer-detail .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars {
  margin: auto;
}

#maps-layer-detail .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars i {
  font-size: 2rem;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item {
  margin-bottom: 10px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px #ccc;
          box-shadow: 0 1px 4px #ccc;
  padding: 10px;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item .et-rating-list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item .et-rating-list-item-header .et-rating-list-item-name {
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/*-----------------------------------------------------------------------------*/
/*# sourceMappingURL=application-v2.css.map */