@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/*----------------------------------------------------------------*/
.rating-yellow {
  color: #fdd835;
}

/*Mapbox Click Marker*/
/*----------------------------------------------*/
.pin1 .mapboxgl-popup-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 0 10px 0;
}

.pin1 .mapboxgl-popup-content i {
  font-size: 3rem !important;
  color: #000;
}

.pin1 .mapboxgl-popup-tip {
  display: none;
}

/*----------------------------------------------*/
/*ANIMATIONS*/
@-webkit-keyframes hideL {
  from {
    left: 0;
  }
  to {
    left: -20%;
  }
}
@keyframes hideL {
  from {
    left: 0;
  }
  to {
    left: -20%;
  }
}

@-webkit-keyframes showL {
  from {
    left: -20%;
  }
  to {
    left: 0;
  }
}

@keyframes showL {
  from {
    left: -20%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes hideR {
  from {
    right: 0;
  }
  to {
    right: -20%;
    margin-right: 0;
  }
}

@keyframes hideR {
  from {
    right: 0;
  }
  to {
    right: -20%;
    margin-right: 0;
  }
}

@-webkit-keyframes showR {
  from {
    right: -20%;
  }
  to {
    right: 0;
    margin-right: 10px;
  }
}

@keyframes showR {
  from {
    right: -20%;
  }
  to {
    right: 0;
    margin-right: 10px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto';
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

section {
  -webkit-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  position: relative;
}

.et-panel, #maps-filters-date, #maps-filters-layer, #maps-layers {
  background: #fff;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 20%;
  overflow-y: auto;
}

/*-----------------------------------------------------------------------------*/
/* FILTERS PANEL */
#maps-filters-date, #maps-filters-layer {
  right: 0;
  margin: 10px;
  -webkit-box-shadow: 0 0 5px #aaa;
          box-shadow: 0 0 5px #aaa;
  max-height: 95%;
}

#maps-filters-date.hidden, #maps-filters-layer.hidden {
  right: -20%;
  margin-right: 0;
}

#maps-filters-date [type="checkbox"]:not(:checked), #maps-filters-date [type="checkbox"]:checked,
#maps-filters-date [type="radio"]:not(:checked), #maps-filters-date [type="radio"]:checked, #maps-filters-layer [type="checkbox"]:not(:checked), #maps-filters-layer [type="checkbox"]:checked,
#maps-filters-layer [type="radio"]:not(:checked), #maps-filters-layer [type="radio"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

#maps-filters-date .et-panel-filter-list, #maps-filters-layer .et-panel-filter-list {
  width: 100%;
  background: #fff;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item:hover, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item:hover {
  background: #ccc;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item .et-filter-color-box, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item .et-filter-color-box {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60px;
  height: 30px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item .et-filter-list-item-name, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item .et-filter-list-item-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item input, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item input {
  margin: 0 5px 0 auto;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item.header, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item.header {
  margin: 0;
  padding: 22px 10px;
  background: #23238e;
  color: #fff;
}

#maps-filters-date .et-panel-filter-list .et-panel-filter-list-item.header:hover, #maps-filters-layer .et-panel-filter-list .et-panel-filter-list-item.header:hover {
  background: #4646d1;
}

/*-----------------------------------------------------------------------------*/
/* MAP */
#map {
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------*/
/* LAYERS PANEL */
#maps-layers {
  left: 0;
  height: 100%;
}

#maps-layers.hidden {
  left: -20%;
}

.et-panel-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.et-panel-close-button i {
  background: rgba(245, 245, 245, 0.9);
}

.et-panel-layer-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px !important;
}

.et-panel-layer-list .et-panel-layer-list-item {
  background: #fff;
  margin-bottom: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
  cursor: pointer;
}

.et-panel-layer-list .et-panel-layer-list-item:hover {
  background: #ddd;
}

.et-panel-layer-list .et-panel-layer-list-item:hover .et-panel-layer-list-item-header .et-panel-layer-rating .rating-yellow {
  color: #23238e;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header .et-panel-layer-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  margin: 5px 0;
  font-size: 1.2rem;
}

.et-panel-layer-list .et-panel-layer-list-item .et-panel-layer-list-item-header .et-panel-layer-rating {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----------------------------------------------------------------------------*/
/* LAYER DETAIL PANEL */
#maps-layer-detail {
  height: 100%;
  z-index: 100;
  padding: 0 10px 10px 10px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#maps-layer-detail.hidden {
  left: -20%;
}

#maps-layer-detail .et-panel-close-button {
  position: absolute;
  right: 0;
  cursor: pointer;
}

#maps-layer-detail .et-panel-close-button i {
  background: rgba(245, 245, 245, 0.9);
}

#maps-layer-detail .et-panel-back-button {
  position: absolute;
  left: 0;
  cursor: pointer;
}

#maps-layer-detail .et-panel-back-button i {
  background: rgba(245, 245, 245, 0.9);
}

#maps-layer-detail .et-panel-layer-detail-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 10px 5px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maps-layer-detail .et-panel-layer-detail-rating-container {
  margin: 20px 0;
  background: #eee;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars > input {
  display: none;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars > label {
  color: #ddd;
  float: right;
  display: block;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars > .half:before {
  content: "\f089";
  position: absolute;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars > input:checked ~ label,
#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars:not(:checked) > label:hover,
#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-layer-detail-rating-stars:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-panel-layer-detail-send-button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-panel-layer-detail-send-button button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
  width: 100%;
  margin: auto;
  background: #23238e;
  cursor: pointer;
  color: #fff;
}

#maps-layer-detail .et-panel-layer-detail-rating-container .et-panel-layer-detail-rating-input .et-panel-layer-detail-send-button button:hover {
  background: #4646d1;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item {
  margin-bottom: 10px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px #ccc;
          box-shadow: 0 1px 4px #ccc;
  padding: 10px;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item .et-rating-list-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.et-panel-layer-detail-rating-list .et-layer-detail-rating-list-item .et-rating-list-item-header .et-rating-list-item-name {
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  word-break: break-all;
}

/*-----------------------------------------------------------------------------*/
/*


<div class="et-layer-detail-rating-stars rating">
	<input type="radio" id="star5" name="rating" value="5">
		<label class="full" for="star5" title="Awesome - 5 stars"></label>
	<input type="radio" id="star4half" name="rating" value="4 and a half">
		<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
	<input type="radio" id="star4" name="rating" value="4">
		<label class="full" for="star4" title="Pretty good - 4 stars"></label>
	<input type="radio" id="star3half" name="rating" value="3 and a half">
		<label class="half" for="star3half" title="Meh - 3.5 stars"></label>
	<input type="radio" id="star3" name="rating" value="3">
		<label class="full" for="star3" title="Meh - 3 stars"></label>
	<input type="radio" id="star2half" name="rating" value="2 and a half">
		<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
	<input type="radio" id="star2" name="rating" value="2">
		<label class="full" for="star2" title="Kinda bad - 2 stars"></label>
	<input type="radio" id="star1half" name="rating" value="1 and a half">
		<label class="half" for="star1half" title="Meh - 1.5 stars"></label>
	<input type="radio" id="star1" name="rating" value="1">
		<label class="full" for="star1" title="Sucks big time - 1 star"></label>
	<input type="radio" id="starhalf" name="rating" value="half">
		<label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</div>

*/
/*# sourceMappingURL=application.css.map */