/*----------------------------------------------------------------*/
//variables and colors
$et-colors: (
	bg: #fff,
	bg-transparent: rgba(245, 245, 245, .9),
	bg-dark: #ccc,
	primary: rgb(35,35,142),
	primary-light: lighten(rgb(35,35,142),20%)
);

$panelWidth: 20%;

.rating-yellow {
		color: #fdd835;
		//color: #e8bc54;
}

@function color($color-name)
{
	@return map-get($et-colors, $color-name);
}

/*Mapbox Click Marker*/
/*----------------------------------------------*/
.pin1	.mapboxgl-popup-content{
	background-color:transparent;
	box-shadow: none;
	user-select: none;

	i {
		font-size: 3rem!important;
		color: #000;
	}
}

.pin1 .mapboxgl-popup-tip{
	display: none;
}





*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'Roboto';
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: stretch;
}

section {
	//background: color(bg);
	//display: none;
	transition: all .7s ease-in-out;

	//TESTING
	visibility: hidden;
	transition: visibility 0s 0.6s;
}

// main
main {
	flex: 1;
	background: color(bg);
	position: relative;
}
.et-panel {
	//background: color(bg-transparent);
	z-index: 10;
	position: absolute;
	top: 0;
	//padding: 10px;
	width: $panelWidth;
}

/*-----------------------------------------------------------------------------*/
/* FILTERS PANEL */

#maps-filters-date, #maps-filters-layer {
	@extend .et-panel;
	right: 0;
	margin: 10px;
	box-shadow: 0 0 5px #aaa;
	max-height: 95%;
	overflow-y: auto;
	
	&.is-visible {
		//right: - $panelWidth;
		//margin-right: 0;
		//width: 0;

		//TESTING
		visibility: visible;
		transition: visibility 0s 0s;
		//..
		.et-panel-filter-list {
			transform: translate3d(0, 0, 0);
  			transition-delay: 0s;
		}
	}
	
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked, 
	[type="radio"]:not(:checked), [type="radio"]:checked {
		position: relative;
		opacity: 1;
		pointer-events: all;
	}
	
	.et-panel-filter-list {
		//height: 20%;

		width: 100%;
		background: color(bg);
		//margin-bottom: 20px;
		
		//position: fixed;
  		//width: 90%;
  		height: 100%;
		top: 0;
		  
		//TESTING
		transition: transform 0.3s 0.3s;
		right: 0;
		transform: translate3d(100%, 0, 0);
		//..  

		.et-panel-filter-list-item {
			display: flex;
			align-items: center;
			padding: 10px;
			padding-left: 20px;
			cursor: pointer;

			&:hover {
				background: color(bg-dark);
			}
	
			.et-filter-color-box {
				flex-shrink: 0;
				width: 60px;
				height: 30px;
				//background: #000;
				margin-right: 5px;
				background-position: center;
				background-repeat: no-repeat; /* Do not repeat the image */
				background-size: cover; /* Resize the background image to cover the entire container */
			}
			.et-filter-list-item-name {
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
			}

			input {
				margin: 0 5px 0 auto;
			}

			&.header {
				margin: 0;
				//height: 50px;
				padding: 22px 10px;

				background: color(primary);
				color: #fff;

				&:hover {
					background: color(primary-light);
				}
			}
		}
	}
}
/*-----------------------------------------------------------------------------*/
/* MAP */
#map {
	width: 100%;
	height: 100%;
}
/*-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------*/
	/* LAYERS PANEL */
#maps-layers {
	@extend .et-panel;
	left: 0;
	height: 100%;

	&.hidden {
		left: -$panelWidth;
	}
}

	.et-panel-close-button {
		position: absolute;
		right: 0;
		//top: -10px;
		cursor: pointer;
		
		i {
			
			//font-size: 2rem;
			background: color(bg-transparent);
		}
	}

	.et-panel-layer-list {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		padding: 10px!important;
	
		.et-panel-layer-list-item {
			background: color(bg);
			margin-bottom: 10px;
			padding: 10px;
			box-shadow: 0 0 5px #ddd;
			cursor: pointer;

			&:hover {	
				background: #ddd;

				.et-panel-layer-list-item-header .et-panel-layer-rating .rating-yellow {
						//color: #0084ff;
						color: color(primary)
					}
			}
			.et-panel-layer-list-item-header {
				display: flex;
				flex-wrap: wrap;

				margin-bottom: 10px;

				.et-panel-layer-title {
					flex: 1;
					font-weight: bold;
					margin: 5px 0;
					font-size: 1.2rem;
				}

				.et-panel-layer-rating {
					flex: 1;
					flex-shrink: 0;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			
		}
	}
	
/*-----------------------------------------------------------------------------*/
/* LAYER DETAIL PANEL */

#maps-layer-detail {
	height: 100%;
	z-index: 100;
	padding: 0 10px 10px 10px;
	left: 0;
	background: color(bg);

	display: flex;
	flex-direction: column;

	&.hidden {
		left: -$panelWidth;
	}

	.et-panel-close-button {
		position: absolute;
		right: 0;
		//top: -10px;
		cursor: pointer;
		
		i {
			background: color(bg-transparent);
		}
	}

	.et-panel-layer-detail-title {
		//margin-bottom: 10px;
		font-weight: bold;
		font-size: 1.3rem;
		padding: 10px 5px 10px 0;
		display: flex;
		align-items: center;
	}

	.et-panel-layer-detail-text {
		//background: #eee;
	}

	.et-panel-layer-detail-rating-input {
		margin: 20px 0;
		background: #eee;
		box-shadow: 0 2px 2px #ccc;
		padding: 5px;

		display: flex;
		flex-direction: column;

		.et-layer-detail-rating-stars {
			margin: auto;
			i {
				font-size: 2rem;
			}
		}
	}
}

.et-panel-layer-detail-rating-list {

		.et-layer-detail-rating-list-item {
			margin-bottom: 10px;
			background: color(bg);
			box-shadow: 0 1px 4px #ccc;
			padding: 10px;

			.et-rating-list-item-header {
				display: flex;
				align-items: center;


				.et-rating-list-item-name {
					font-weight: bold;
					font-size: 1.1rem;
					flex: 1;
					//padding: 10px;
				}
			}
		}
	}
/*-----------------------------------------------------------------------------*/
