body {
  margin: 0;
  padding:0;
}

#map {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
}

/* Sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  /*-----------------------------------------------------------------------------*/
  
  .icon-block {
    padding: 0 15px;
  }
  
  .icon-block .material-icons {
      font-size: inherit;
  }

  /*-----------------------------------------------------------------------------*/
  /* Navigation */
  .et-maps-nav {
    height: 100px;
    line-height: 100px;
    background: white;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #E8E8E8;
    color: #000;

    .et-maps-nav-container {
      margin-left: 20px;
      margin-right: 20px;
    }
    
    i {
      height: 100px !important;
      line-height: 100px !important;
      margin-right: 9px !important;
    }
    
    ul li a {
      color: black;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0px 0px 0px 20px;
    }

    ul a {
      &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }
  
  .et-maps-brand-logo {
    position: absolute;
    top: 10px;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
  }
  
  /*---------------------------------------------------------------------------*/
  
  .et-maps-nav-breadcrumb {
    margin-top: 75px;
    margin-left: 5px;
    line-height: 20px;

    a {
      color: black !important;
      font-family: 'Roboto', sans-serif;
      font-size: 0.72em;
      color: #909090 !important;
    }
  }
  
  .et-maps-breadcrumb+.et-maps-breadcrumb:before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    margin: 2px 2px 0px 0px;
  }
  
  /*-----------------------------------------------------------------------------*/
  
  .et-maps-nav-menu {
    font-family: 'Roboto', sans-serif;
    .et-maps-nav-menu-icon {
      margin-right: 5px;
    }
  }
  
  .footer {
    background: #36363E;
  }
  
  .et-maps-with-separator:after { 
    content: "|";
    padding-left: 20px;
    color: #E3E3E3;
    font-family: initial;
  }
  
  /* Badge */
  .et-maps-icon-badge {
    height: 19px;
    width: 19px;
    line-height: 15px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 8px;
    font-weight: normal;
    background-color: #232393;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -9px;
    left: 15px;
    border: 2px solid white;
    margin-left: -19px;
  }
  
  /*-----------------------------------------------------------------------------*/
  /* panel */
  .et-maps-panel {
    border-radius: 10px;
    margin: 10px 15px 10px 15px;
    width: 270px;
    background: white;
    border: 1px solid #80808052;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.35);
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.35);

    .et-maps-panel-header {
      padding: 18px 20px 10px 20px;
      font-weight: bold;
      font-size: 1.2em;
      border-bottom: 1px solid #E8E8E8;
      height: 65px;

      .material-icons {
        margin-top: 1px;
        margin-right: 10px;
      }
    }

    .et-maps-panel-body {
      font-size: 0.85em;

      .et-maps-panel-body-section {
        padding: 20px 20px 22px 20px;

        .et-maps-panel-body-section-title {
          font-size: 1.6em;
          font-weight: bold;
          margin-bottom: 16px;
        }

        .et-maps-panel-body-section-label {
          font-size: 1.0em;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }

    .et-maps-panel-footer {
      border-radius: 0px 0px 10px 10px;
      height: 50px;
      line-height: 50px;
      padding-left: 27px;
      padding-right: 27px;
      background-color: #232393;
      text-align: center;
      color: white;
      
      a {
        font-weight: normal;
        font-size: 0.95em;
      }
    }
  }
  
  .et-maps-close-icon {
    background-color: #232393;
    border-radius: 3px;
    margin: 0px !important;
    padding: 2px;
    color: white;
    
    font-size: 0.85em;
  }
  
  .et-maps-panel-body-section+.et-maps-panel-body-section {
    border-top: 1px solid #E8E8E8;
  }
  
  /* Data table */
  .et-maps-panel-table {
    display: table-row;
    padding-bottom: 4px;

    .et-maps-panel-table-cell {
      display: table-cell;
      padding-bottom: 6px;
    }
  }
  
  .et-maps-panel-table-cell-text {
    width: 210px;
  }
  
  .et-maps-panel-table-cell-value {
    width: 30px;
  }
  
  .et-maps-profile {
    margin-top: 85px;

    .et-maps-profile-image {
      width:108px;
      height:108px;
      border-radius:108px;
      padding: 4px;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.6);
      -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.6);
      box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.6);
      margin-bottom: 15px;
    }

    .et-maps-profile-title {
      font-size: 2.0rem;
      line-height: 110%;
      font-weight: bold;
      margin-top: 25px;
    }

    .et-maps-profile-link {
      margin-top: 40px;
      
      a {
        color: #60676D;
        font-size: 0.85em;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
  
  .et-maps-circle {
    width:100px;
    height:100px;
    border-radius:100px;
    border: solid 1px #e7e7e7;
  } 
  
  /*-----------------------------------------------------------------------------*/
  /* Footer */
  .et-maps-footer {
    background-color: #36363E;
  }
  
  /*-----------------------------------------------------------------------------*/
  
  .et-maps-main-container {
    margin: 0 auto;
    max-width: 680px;
    width: 680px;
  }
  
  .et-maps-main-title {
    margin-top: 76px;
    font-size: 2.8em;
    font-weight: bolder;
  }
  
  .et-maps-main-tile-container {
    margin-top: 45px;
  
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, 150px);
  
    /* -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; */

    .et-maps-main-tile {
      width: 150px;
      height: 136px;
      border-radius: 12px;
      background-color: #CCCDEC;
      border: 1px solid #C6C7E5;
      padding: 20px;
      color: #120E7C;

      .et-maps-main-tile-text {
        height: 67px;
        font-size: 0.95em;
        font-weight: 600;
        line-height: 1.28em;
        display: table-cell;
        vertical-align: bottom;
      }
    }
  }
  
  .et-maps-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  
  /*-----------------------------------------------------------------------------*/
  /*-----------------------------------------------------------------------------*/
  .et-rating-panel {
    .et-rating-panel-section {
    }

    .et-rating-star {
      font-size: 1.7em;
      color: #232393;
    }
  }