.brand-logo img {
	margin-left: 10px;
	transform: translateY(25%)
}



/*Mapbox Click Marker*/
/*----------------------------------------------*/
.pin1  .mapboxgl-popup-content{
    background-color:transparent;
	box-shadow: none;

	img {
		width: 40px;
		height: 40px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.pin1 .mapboxgl-popup-tip{
	border-top-color: rgb(66,111,175);
	display: none;
}

.pin1 .mapboxgl-popup-anchor-bottom{
	transform: rotate(-45deg)!important;
	border-top-color: rgb(66,111,175);
}
.pin1 .mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
	border-bottom-color: rgb(66,111,175);
	
}
.pin1 .mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
    border-right-color: rgb(66,111,175);
}
.pin1 .mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
    border-left-color: rgb(66,111,175);
}

.pin1 .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    border-bottom-color: rgb(66,111,175);
}
.pin1 .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
    border-bottom-color: rgb(66,111,175);
}
.pin1 .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
    border-top-color: rgb(66,111,175);
}
.pin1 .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
    border-top-color: rgb(66,111,175);
}
/*-----------------------------------------*/

//variables
$et-colors: (
	bg: #fff,
	bg-dark: #ccc,
	primary: rgb(35,35,142),
	primary-light: lighten(rgb(35,35,142),20%)
);

@function color($color-name)
{
	@return map-get($et-colors, $color-name);
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body, html {
  font-family: 'Roboto';
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/*-----------------------------------------------------------------------------*/
  
  .icon-block {
    padding: 0 15px;
  }
  
  .icon-block .material-icons {
      font-size: inherit;
  }

  /*-----------------------------------------------------------------------------*/
  /* Navigation */
  .et-maps-nav {
    height: 100px;
    line-height: 100px;
    background: white;
  
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #E8E8E8;
    color: #000;

    .et-maps-nav-container {
      margin-left: 20px;
      margin-right: 20px;
    }
    
    i {
      height: 100px !important;
      line-height: 100px !important;
      margin-right: 9px !important;
    }
    
    ul li a {
      color: black;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 0px 0px 0px 20px;
    }

    ul a {
      &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }
  
  .et-maps-brand-logo {
    position: absolute;
    top: 10px;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
  }
  
  /*---------------------------------------------------------------------------*/
  
  .et-maps-nav-breadcrumb {
    margin-top: 75px;
    margin-left: 5px;
    line-height: 20px;

    a {
      color: black !important;
      font-family: 'Roboto', sans-serif;
      font-size: 0.72em;
      color: #909090 !important;
    }
  }
  
  .et-maps-breadcrumb+.et-maps-breadcrumb:before {
    content: '\E5CC';
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    margin: 2px 2px 0px 0px;
  }
  
  /*-----------------------------------------------------------------------------*/
  
  .et-maps-nav-menu {
    font-family: 'Roboto', sans-serif;
    .et-maps-nav-menu-icon {
      margin-right: 5px;
    }
  }
  
  .footer {
    background: #36363E;
  }
  
  .et-maps-with-separator:after { 
    content: "|";
    padding-left: 20px;
    color: #E3E3E3;
    font-family: initial;
  }
  
  /* Badge */
  .et-maps-icon-badge {
    height: 19px;
    width: 19px;
    line-height: 15px;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 8px;
    font-weight: normal;
    background-color: #232393;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -9px;
    left: 15px;
    border: 2px solid white;
    margin-left: -19px;
  }
/*-----------------------------------------------------------------------------*/

// header {
// 	height: 10%;
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	padding: 10px 20px;

// 	.et-header-list {
// 		list-style: none;
// 		display: flex;

// 		.et-header-list-item {
// 			//padding: 10px;
// 			transition: all .5s;

// 			a {
// 				color: #000;
// 				text-decoration: none;
// 				padding: 5px;
// 			}
// 			a:hover {
// 				background: color(bg-dark);
// 			}

// 			&:first-child {
// 				margin-left: 0;
// 				margin-right: auto;
// 			}
			
// 			&.separator::after {
// 				content: "|";
// 				margin: 0 5px;
// 				float: right;
// 				color: #ddd;
// 				//border-right: 1px solid #ddd;
// 			}
// 		}
// 	}

// 	.et-header-path {
// 		position: absolute;
// 		bottom: 10px;
// 		left: 20px;
// 	}
// }

section {
	//background: color(bg);
	//display: none;
	transition: all .5s;
}

// main
main {
	flex: 1;
	background: color(bg);
	position: relative;
}
.et-panel {
	background: color(bg);
	z-index: 1000;
	position: absolute;
	top: 0;
	padding: 10px;
	width: 20%;
}

/*
	LIST ITEM DEFINITION
*/

#layers {
	@extend .et-panel;
	left: 0;
	height: 100%;
}
#filters {
	@extend .et-panel;
	right: 0;
	height: 60%;
	margin: 10px;
	border-radius: 0 0 20px 20px;
	box-shadow: 0 0 15px #aaa;

	[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
		position: relative;
		opacity: 1;
		pointer-events: all;
	}

	.et-panel-filter-list-container {
		height: calc(100% - 50px);
		widows: 100%;
		overflow-y: scroll;

		.et-panel-filter-list {
			//height: 20%;
			width: 100%;
			background: color(bg);
			//margin-bottom: 20px;
			
			.et-panel-filter-list-item {
				display: flex;
				align-items: center;
				padding:  10px;
				padding-left: 20px;

				&:hover {
					background: color(bg-dark);
				}

				//position: relative;
					
				.et-filter-color-box {
					//position: absolute;
					width: 60px;
					height: 20px;
					background: #000;
					margin-right: 5px;
				}
				.et-filter-list-item-name {
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
				}

				input {
					margin: 0 5px 0 auto;
				}

				&.header {
					margin: 0;
					padding: 10px;
	
					background: color(primary);
					color: #fff;
	
					&:hover {
						background: color(primary-light);
					}
				}
			}
		}
}

	.et-panel-filter-save-button {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		color: #fff;
		background: color(primary);
		cursor: pointer;
		border-radius: 0 0 20px 20px;
	}
}


#map {
	width: 100%;
	
	height: 100%;
}