.brand-logo img {
  margin-left: 10px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

/*Mapbox Click Marker*/
/*----------------------------------------------*/
.pin1 .mapboxgl-popup-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pin1 .mapboxgl-popup-content img {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pin1 .mapboxgl-popup-tip {
  border-top-color: #426faf;
  display: none;
}

.pin1 .mapboxgl-popup-anchor-bottom {
  -webkit-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
  border-top-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip {
  border-bottom-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip {
  border-top-color: #426faf;
}

.pin1 .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #426faf;
}

/*-----------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Roboto';
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/*-----------------------------------------------------------------------------*/
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/*-----------------------------------------------------------------------------*/
/* Navigation */
.et-maps-nav {
  height: 100px;
  line-height: 100px;
  background: white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #E8E8E8;
  color: #000;
}

.et-maps-nav .et-maps-nav-container {
  margin-left: 20px;
  margin-right: 20px;
}

.et-maps-nav i {
  height: 100px !important;
  line-height: 100px !important;
  margin-right: 9px !important;
}

.et-maps-nav ul li a {
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0px 0px 0px 20px;
}

.et-maps-nav ul a:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.et-maps-brand-logo {
  position: absolute;
  top: 10px;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

/*---------------------------------------------------------------------------*/
.et-maps-nav-breadcrumb {
  margin-top: 75px;
  margin-left: 5px;
  line-height: 20px;
}

.et-maps-nav-breadcrumb a {
  color: black !important;
  font-family: 'Roboto', sans-serif;
  font-size: 0.72em;
  color: #909090 !important;
}

.et-maps-breadcrumb + .et-maps-breadcrumb:before {
  content: '\E5CC';
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.2em;
  margin: 2px 2px 0px 0px;
}

/*-----------------------------------------------------------------------------*/
.et-maps-nav-menu {
  font-family: 'Roboto', sans-serif;
}

.et-maps-nav-menu .et-maps-nav-menu-icon {
  margin-right: 5px;
}

.footer {
  background: #36363E;
}

.et-maps-with-separator:after {
  content: "|";
  padding-left: 20px;
  color: #E3E3E3;
  font-family: initial;
}

/* Badge */
.et-maps-icon-badge {
  height: 19px;
  width: 19px;
  line-height: 15px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
  font-weight: normal;
  background-color: #232393;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -9px;
  left: 15px;
  border: 2px solid white;
  margin-left: -19px;
}

/*-----------------------------------------------------------------------------*/
section {
  -webkit-transition: all .5s;
  transition: all .5s;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  position: relative;
}

.et-panel, #layers, #filters {
  background: #fff;
  z-index: 1000;
  position: absolute;
  top: 0;
  padding: 10px;
  width: 20%;
}

/*
	LIST ITEM DEFINITION
*/
#layers {
  left: 0;
  height: 100%;
}

#filters {
  right: 0;
  height: 60%;
  margin: 10px;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 0 15px #aaa;
          box-shadow: 0 0 15px #aaa;
}

#filters [type="checkbox"]:not(:checked), #filters [type="checkbox"]:checked {
  position: relative;
  opacity: 1;
  pointer-events: all;
}

#filters .et-panel-filter-list-container {
  height: calc(100% - 50px);
  widows: 100%;
  overflow-y: scroll;
}

#filters .et-panel-filter-list-container .et-panel-filter-list {
  width: 100%;
  background: #fff;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  padding-left: 20px;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item:hover {
  background: #ccc;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item .et-filter-color-box {
  width: 60px;
  height: 20px;
  background: #000;
  margin-right: 5px;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item .et-filter-list-item-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item input {
  margin: 0 5px 0 auto;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item.header {
  margin: 0;
  padding: 10px;
  background: #23238e;
  color: #fff;
}

#filters .et-panel-filter-list-container .et-panel-filter-list .et-panel-filter-list-item.header:hover {
  background: #4646d1;
}

#filters .et-panel-filter-save-button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #23238e;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
}

#map {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=application.css.map */